{% extends "base.html" %}
{% load static %}

{% block page_title %}新しい記録{% endblock page_title %}

{% block extra_css%}
<link rel="stylesheet" href="{% static 'css/form.css' %}" />
{% endblock extra_css%}

{% block content %}
<form method="POST">
    {% comment %}{{ form }}}}{% endcomment %}
    {% for field in form %}
        <div class="form-field">
        {{ field.label_tag }}
        {% if field.name == 'date' %}
            <div class="form-field-date">
            {{ field }}
            </div>
        {% else %}
            {{ field }}
        {% endif %}
        </div>
    {% endfor %}
    <button type="submit" class="button-submit">送信</button>
    {% csrf_token %}
</form>
<a href="/">トップに戻る</a>
{% endblock content %}
