{% extends "base.html" %}
{% load static %}
{% load bootstrap4 %}
{% block page_title %}新しい記録{% endblock page_title %}
{% block extra_css%}
{# <link rel="stylesheet" href="{% static 'css/form.css' %}" /> #}
{% endblock extra_css%}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col mt-4">
            <div class="card">
                <div class="card-body">
                    <h2 class="card-title">{% if object %}記録を編集{% else %}新しい記録{% endif %}</h2>
                    <form method="POST" enctype="multipart/form-data">
                    {% bootstrap_form form %} 
                    {% buttons %}
                    <button type="submit" class="btn btn-primary">送信</button>
                    {% if object %}
                        <a href="/records/{{ object.pk }}/" class="btn btn-link">取り消し</a>
                    {% else %}
                        <a href="/" class="btn btn-link">トップに戻る</a>
                    {% endif%}
                    {% endbuttons %}
                    {% csrf_token %}
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
