{% extends "base.html" %}
{% block page_title %}詳細 | {{ object.shop }}{% endblock page_title %}
{% block content %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-8 mt-4">
            <div class="card">
                {% if object.image %}
                    <img class="card-img-top img-fluid" src="{{ object.image.url }}"/>
                {% endif %}
                <div class="card-body">
                    <h2 class="card-title">{{ object.name }}</h2>
                    <p class="mb-2 text-muted">{{ object.date }}</p>
                    <p class="card-text">{{ object.note}}</p>
                </div>
                <div class="card-footer">
                    <a href="/records/" class="card-link">一覧に戻る</a>
                    <a href="/records/{{ object.pk }}/edit/" class="card-link">編集</a>
                    <a href="/records/{{ object.pk }}/delete/" class="card-link">削除</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}